@model MyTrailsClient.Models.VisitEntry

<div class="format-box row">
  <div class="col-8">
  <h3>Add a User Trail</h3>
  <hr />
  <h5>Add a trail to your journal entry from: @Html.DisplayFor(m => m.VisitDate)</h5>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(m => m.VisitEntryId)

    <div class = "form-label">@Html.Label("Select Trail:")</div>
    @Html.DropDownList("UserTrailId")

    <input type="submit" value="Save" class="btn" />

  }
  <hr />
  <p>@Html.ActionLink("Back to list", "Index")</p>
  </div>
  <div class="col-4">
    <img id="acorns-leaves-icon" src="/img/acorns-leaves.png" />
  </div>
</div>