@model MyTrailsClient.Models.VisitEntry

<h4>Add a new Visit Entry</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(m => m.VisitDate)
  @Html.TextBoxFor(m => m.VisitDate, "{0:yyyy-MM-dd}", new {@type = "date"})

  @Html.LabelFor(m => m.Rating)
  @Html.TextBoxFor(m => m.Rating)

  @Html.LabelFor(m => m.ActivityLevel)
  @Html.TextBoxFor(m => m.ActivityLevel)

  @Html.LabelFor(m => m.Bounty)
  @Html.TextBoxFor(m => m.Bounty)

  @Html.LabelFor(m => m.Latitude)
  @Html.TextBoxFor(m => m.Latitude)

  @Html.LabelFor(m => m.Longitude)
  @Html.TextBoxFor(m => m.Longitude)

  @Html.LabelFor(m => m.Notes)
  @Html.TextBoxFor(m => m.Notes)
  
  @Html.Label("Select User Trail")
  @Html.DropDownList("UserTrailId")

  <input type="submit" value="Add new Visit Entry" class="btn btn-default" />
}

<p>@Html.ActionLink("Show all Visit Entries", "Index")</p>
