@model MyTrailsClient.Models.VisitEntry

<h2>Visit Details</h2>
<hr />
<h3>Visit Date: @Html.DisplayFor(m => m.VisitDate)</h3>
<ul>
  <li>Rating: @Html.DisplayFor(m => m.Rating)</li>
  <li>Activity Level: @Html.DisplayFor(m => m.ActivityLevel)</li>
  <li>Bounty: @Html.DisplayFor(m => m.Bounty)</li>
  <li>Latitude: @Html.DisplayFor(m => m.Latitude)</li>
  <li>Longitude: @Html.DisplayFor(m => m.Longitude)</li>
  <li>Notes: @Html.DisplayFor(m => m.Notes)</li>
  
</ul>

<p>@Html.ActionLink("Add User Trail", "AddUserTrail", new { id = Model.VisitEntryId })</p>
<p>@Html.ActionLink("Edit Visit", "Edit", new { id = Model.VisitEntryId })</p>
<p>@Html.ActionLink("Delete Visit", "Delete", new { id = Model.VisitEntryId})</p>
<p>@Html.ActionLink("Home", "Index")</p>