@{
  ViewData["Title"] = "Home Page";
}
@using MyTrailsClient.Models;
@* @model MyTrailsClient.Models.ApiTrail *@
<h2>My Trails</h2>

<p>Your Trail Journal</p>

<p>Create an account or log in to access your trail journals</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>
<p>@Html.ActionLink("Log in", "Login", "Account")</p>
<p>@Html.ActionLink("Log Out", "LogOut", "Account")</p>
<p>@Html.ActionLink("UserTrails", "Index", "UserTrails")</p>
<p>@Html.ActionLink("VisitEntries", "Index", "VisitEntries")</p>

<p>Ready to just get out there? Search for a trail and be on your way!</p>

<h2>60 Hikes Within 60 Miles of PDX</h2>
<p><em>Based on the book by Paul Gerard</em></p>
<p>@Html.ActionLink("Existing Trails", "ExistingTrails", "Home")</p>


@* <p>Search Trails:</p>
@using (Html.BeginForm("Details", "Home", new { id = @ViewBag.id}, FormMethod.Post))
{
	@Html.HiddenFor(m => m.TrailId)
	@Html.Label("Select trail by name")
	@Html.DropDownList("TrailId")
	@Html.DropDownListFor(m => m.Name, Model.Name, "Select Trail")
	@Html.DropDownListFor(m => m.Name, new SelectList(Enum.GetValues(typeof(ApiTrail))), "Select Trail")

	<button type="submit" class="btn btn-primary">See Trail</button>
}
<br> *@
