@using MyTrailsClient.Models;
@model MyTrailsClient.Models.ApiTrail

<div class="format-box row">
	<div class="col-4">
		<img class="photo-logo" id="nav-logo" src="/img/mytrails_logo.png" /> 
	</div>
	<div class="col-8">
		<h2>Welcome to MyTrails</h2>
		<h3><em>Find where to go and see where you've been.</em> </h3>
		<br>
		<p class="front">MyTrails is a site for adventurers and foragers.</p>
		<p class="front">Users are able to track their adventures on the trails or keep track of their foraging spots and their bountiful harvests.
		</p>
		@Html.ActionLink("Create an account", "Index", "Account") or 
		@Html.ActionLink("Log In", "Login", "Account")
	</div>
</div>

<div class="format-box row">
		<div class="col-3">
		<img id="journal-icon" src="/img/journal.png" />
		</div>
	
	<div class="stuff col-9">
		<h3 id="index-header">Your Trail Journal</h3>
		<h4>Create a detailed journal entry for each visit you make to a trail.</h4>
		<p class="front"> You can track where you've gone, when you've gone. Users can keep notes about each visit they make to their favorite spots and denote the conditions, flora, fauna, or whatever they choose.</p>
		<p>@Html.ActionLink("View Journal Entries", "Index", "VisitEntries", new {@class="btn"})</p>
	</div>
</div>

<div class="format-box row">
	<div class="stuff col-9">
		<h3 class="index-header">Your Trails</h3>
		<h4>Create and save information about your favorite hikes in the PNW.</h4>
		<p class="front">Save data for all of your favorite trails and secret spots. Users can add coordinates, whether the area is open year round, and what the difficulty level is.</p>
		<p>@Html.ActionLink("View Your Trails", "Index", "UserTrails")</p>
	</div>
	<div class="col-3">
		<img id="map-icon" src="/img/map.png" />
	</div>
	
</div>

<div class="format-box row">
	<div class="col-3">
  	<img id="find-trails-icon" src="/img/three-mountains-trails.png"/>
	</div>
	<div class="stuff col-9">
		<h3 class="index-header">Find Trails</h3>
		<h4>Look through 60 Hikes In 60 Miles of PDX</h4>
		<p><em>Based on the book by Paul Gerard</em></p>
		<p>@Html.ActionLink("See Trails", "ExistingTrails", "Home")</p>
	</div>
</div>
</div>
<br>

