@model MyTrailsClient.Models.UserTrail

<h2>Add a Journal Entry</h2>

<h4>Add a Journal Entry to this Trail: @Html.DisplayFor(m => m.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(m => m.UserTrailId)

  @Html.Label("Select Journal Entry")
  @Html.DropDownList("VisitEntryId")

  <input type="submit" value="Save" />

}

<p>@Html.ActionLink("Back to MyTrails List", "Index")</p>