@model MyTrailsClient.Models.UserTrail

<h2>Add a new Trail/Foraging Spot</h2>

@using (Html.BeginForm())
{
  @Html.LabelFor(m => m.Name)
  @Html.TextBoxFor(m => m.Name, new { required = "required" })
  
  @Html.LabelFor(m => m.Length)
  @Html.TextBoxFor(m => m.Length, new { type = "number" });

  @Html.LabelFor(m => m.Configuration)
  @Html.TextBoxFor(m => m.Configuration, new { @type = "number" })

  @Html.LabelFor(m => m.ElevationGain, "Elevation Gain")
  @Html.TextBoxFor(m => m.ElevationGain, new { @type = "number" })

  @Html.LabelFor(m => m.Difficulty, "Difficulty Level")
  @Html.TextBoxFor(m => m.Difficulty, new {})

  <h3>Family Friendly</h3>
  <span>Yes</span>@Html.RadioButtonFor(m => m.FamilyFriendly, "Yes")
  <span>No</span>@Html.RadioButtonFor(m => m.FamilyFriendly, "No")

  @Html.LabelFor(m => m.Latitude)
  @Html.TextBoxFor(m => m.Latitude, new { @type = "number" })

  @Html.LabelFor(m => m.Longitude)
  @Html.TextBoxFor(m => m.Longitude, new { @type = "number" })

  @Html.LabelFor(m => m.Season)
  @Html.TextBoxFor(m => m.Season, new {})

  @Html.LabelFor(m => m.Status)
  @Html.TextBoxFor(m => m.Status, new {})

  <input type="submit" value="Add" class="btn btn-default" />
}