@model MyTrailsClient.Models.UserTrail

<h2>Add a new Trail/Foraging Spot</h2>

@using (Html.BeginForm())
{
  @Html.LabelFor(m => m.Name, new { @class="form-label"})
  @Html.TextBoxFor(m => m.Name, new { @class="form-control col-6", required = "required" })
  
  @Html.LabelFor(m => m.Length)
  @Html.TextBoxFor(m => m.Length, new { @class="form-control col-6", type = "double" });

  @Html.LabelFor(m => m.Configuration, "Configuration", new { @class="form-label" })<br>
  @Html.RadioButtonFor(m => m.Configuration, "Loop")<span>Loop</span><br>
  @Html.RadioButtonFor(m => m.Configuration, "Out-and-back")<span>Out & Back</span><br>
  @Html.RadioButtonFor(m => m.Configuration, "Lollipop")<span>Lollipop</span><br>
  
  @Html.LabelFor(m => m.ElevationGain, "Elevation Gain", new { @class="form-label"})
  @Html.TextBoxFor(m => m.ElevationGain, new { @class="form-control col-6", @type = "number"})

  @Html.LabelFor(m => m.Difficulty, "Difficulty", new { @class="form-label" })<br>
  @Html.RadioButtonFor(m => m.Difficulty, "Easy")<span>Easy</span><br>
  @Html.RadioButtonFor(m => m.Difficulty, "Moderate")<span>Moderate</span><br>
  @Html.RadioButtonFor(m => m.Difficulty, "Difficult")<span>Difficult</span><br>

  @Html.LabelFor(m => m.FamilyFriendly, "Family Friendly", new { @class="form-label" })<br>
  @Html.RadioButtonFor(m => m.FamilyFriendly, "Yes")<span>Yes</span><br>
  @Html.RadioButtonFor(m => m.FamilyFriendly, "No")<span>No</span><br>

  @Html.LabelFor(m => m.Latitude, new { @class="form-label" })
  @Html.TextBoxFor(m => m.Latitude, new { @class="form-control col-6", @type = "double" })

  @Html.LabelFor(m => m.Longitude, new { @class="form-label"})
  @Html.TextBoxFor(m => m.Longitude, new { @class="form-control col-6", @type = "double" })

  @Html.LabelFor(m => m.Season, "Seaonal Accessibility", new { @class="form-label" })<br>
  @Html.RadioButtonFor(m => m.Season, "All")<span>All</span><br>
  @Html.RadioButtonFor(m => m.Season, "Spring - Fall")<span>Spring - Fall</span><br>
  @Html.RadioButtonFor(m => m.Season, "Summer")<span>Summer</span><br>


  @Html.LabelFor(m => m.Status, new { @class = "form-label" })<br>
  @Html.RadioButtonFor(m => m.Status, "Open")<span>Open</span><br>
  @Html.RadioButtonFor(m => m.Status, "Closed")<span>Closed</span><br>

  <input type="submit" value="Add" class="btn btn-default" />
}