@model MyTrailsClient.Models.UserTrail

<h2>Edit</h2>

<h4>Edit this User Trail: @Html.DisplayFor(m => m.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(m => m.UserTrailId)

  @Html.LabelFor(m => m.Name)
  @Html.EditorFor(m => m.Name, new { @class="form-control" })

  @Html.LabelFor(m => m.Length)
  @Html.EditorFor(m => m.Length, new { @class="form-control", @type = "number" })

  @Html.LabelFor(m => m.Configuration)
  @Html.EditorFor(m => m.Configuration, new { @class="form-control" })

  @Html.LabelFor(m => m.ElevationGain)
  @Html.EditorFor(m => m.ElevationGain, new { @class="form-control", @type = "number"})
  
  @Html.LabelFor(m => m.Difficulty)
  @Html.EditorFor(m => m.Difficulty, new { @class="form-control" })

  <h3>Family Friendly</h3>
  <span>Yes</span>@Html.RadioButtonFor(m => m.FamilyFriendly, "Yes")
  <span>No</span>@Html.RadioButtonFor(m => m.FamilyFriendly, "No")

  @Html.LabelFor(m => m.Latitude)
  @Html.EditorFor(m => m.Latitude, new { @class="form-control", @type = "number" })

  @Html.LabelFor(m => m.Longitude)
  @Html.EditorFor(m => m.Longitude, new { @class="form-control", @type = "number" });

  @Html.LabelFor(m => m.Season)
  @Html.EditorFor(m => m.Season, new { @class="form-control" })

  @Html.LabelFor(m => m.Status)
  @Html.EditorFor(m => m.Status, new { @class="form-control" })
  
  <input type="submit" value="Save">
}

<p>@Html.ActionLink("Back to User Trail List", "Index")</p>